/* Základní styl */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1E1E1E; /* Jemně tmavé pozadí */
    color: #EAEAEA; /* Světle šedý text */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Text zarovnaný na střed */
.text-center {
    text-align: center;
}

/* Světlé pozadí pro úvodní sekci */
.light-bg {
    background-color: #F8F8F8; /* Téměř bílé pozadí */
    color: #333333; /* Černý text */
}

/* Hlavní sekce */
.hero {
    padding: 50px 20px;
}

.hero .logo {
    width: 150px;
}

.hero h1 {
    font-size: 2.8rem;
}

.hero p {
    font-size: 1.2rem;
}

/* Tlačítka */
.btn, .btn-main {
    display: inline-block;
    padding: 12px 25px; /* Velikost tlačítek */
    background-color: #E55E2D; /* Červená barva tlačítek */
    color: white; /* Barva textu na tlačítkách */
    text-decoration: none; /* Odstranění podtržení odkazu */
    font-weight: bold;
    border-radius: 5px; /* Zaoblené rohy tlačítek */
    transition: background-color 0.3s ease; /* Plynulý přechod při hoveru */
}

.btn:hover, .btn-main:hover {
    background-color: #3B93A6; /* Modrá barva při hoveru */
}

/* Sekce */
.section {
}

.section h2 {
}

.section p {
}

.button-spacing {
}
