/* Základní styl */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1E1E1E; /* Jemně tmavé pozadí */
    color: #EAEAEA; /* Světle šedý text */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Hlavní sekce */
.hero {
    background-color: #2A2A2A; /* Tmavší odstín pro kontrast */
    color: #FFFFFF; /* Bílý text */
    text-align: center;
    padding: 50px 20px;
}

.hero .logo {
    width: 150px;
}

.hero h1 {
    font-size: 2.8rem;
}

.hero p {
    font-size: 1.2rem;
}

.btn-main {
    display: inline-block;
    padding: 12px 25px;
    background-color: #3B93A6; /* Akcentní barva */
    color: white;
    text-decoration: none;
}

.btn-main:hover {
    background-color: #2A6D7A; /* Tmavší odstín při hoveru */
}

/* Sekce */
.section {
    padding: 40px 20px;
}

.section h2 {
    text-align: center;
}

.section p {
    max-width: 800px;
}

/* Alternativní pozadí */
.alt-bg {
    background-color: #252525; /* Jemně odlišné tmavé pozadí */
}

/* Tlačítka */
.btn {
    display: inline-block;
}
